*{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
#div1{
    width: 950px;
    height: auto;
    margin: 20px auto;
}
ul{
    width: 250px;
    float: left;
}

img{
	width: 90%;
	height: 90%;

}
/*让图片自动缩放的方法*/

/*img,a img{

	border:0;
	margin:0;
	padding:0;
	max-width:200px;/*根据需要设置
	max-height:200px;/*根据需要设置*/

}*/*/
/*让图片自动缩放的方法2*/


/*让图片自动缩放的方法3*/


